.myProgressBar {
    background-color: var(--white);
    padding: 1rem;
    height: 5rem;
    justify-content: center;
    display: flex;
    border-radius: 1rem;
    transition: height 0.4s ease;

    p {
        margin-right: auto;
        align-self: center;
    }

    .circular {
        width: auto;
        height: auto;
    }
}