.landingContainer {
    display: flex;
    align-items: stretch;
    height: 100vh;

    aside {
        flex: 3;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 3rem;

        strong {
            font-size: 3rem;
        }

        p {
            margin-top: 1rem;
            font-size: 1.5rem;
        }
    }

    main {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex: 2;
        background: var(--green-400);
        height: 100vh;

        a {
            color: transparent;
            button {
                width: 20rem;
            }
        }
    }
}