.landingContainer {
    display: flex;
    align-items: stretch;
    height: 100vh;

    aside {
        flex: 3;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 3rem;

        strong {
            font-size: 3rem;
        }

        p {
            margin-top: 1rem;
            font-size: 1.5rem;
        }
    }

    @media (max-width: 720px) {
        aside {
            position: absolute;
            left: 0;
            top: 0;
            z-index: -10;
        }
    }

    main {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex: 2;
        background: var(--green-400);
        height: 100vh;

        a {
            color: transparent;
            button {
                width: 15rem;
            }
        }
    }

    @media (max-width: 720px) {
        main {
            background: rgba($color: #00a9a5, $alpha: 0.5);
        }
    }
}