.myDropZone {
    background-color: var(--white);
    height: 10rem;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    border: 2px dashed var(--gray-800);
    cursor: pointer;
    transition: height 0.4s ease;
}

.myUploads {
    display: flex;
    background-color: var(--white);
    justify-content: flex-end;
    align-items: flex-end;

    button {
        display: flex;
        background-color: var(--pdf);
        color: var(--white);
        width: 1.3rem;
        height: 1.3rem;
        justify-content: center;
        align-items: center;
    }
}