.divContainer {
    header {
        background: var(--green-500);
        height: 6.5rem;
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 2rem 4rem;
        border-bottom: 1px solid var(--gray-800);
        min-width: 360px;

        a {
            display: flex;
            margin-right: 1rem;
            img {
                height: 7rem;
                width: 7rem;
                min-width: 4.5rem;
            }
        }

        @media (max-width: 440px) {
            a {
                display: none;
            }
        }
    
        form {
            display: flex;
            margin-left: auto;
            margin-right: auto;
            input {
                margin-right: 0.5rem;
                padding: 0.4rem;
            }
            button {
                width: 3rem;
                background-color: transparent;
                border: none;
            }
            input, button {
                height: 3rem;
            }
        }
    
        .dropButton {
            width: 3rem;
            height: 3rem;
            background-color: transparent;
            border: none;
            cursor: pointer;
        }
    }
}
