.folderContainer {
    display: flex;
    align-items: center;
    justify-content: center;

    .iconFolder {
        flex: 1;
        width: 100%;
        border-radius: 5px;
        align-items: center;
        justify-content: center;
    }

    .textFolder {
        flex: 1;

        p {
            overflow: hidden;
            text-overflow: ellipsis;
            text-align: center;
            white-space: nowrap;
        }
    }
}