.homePage {
    padding: 1rem 4rem;
    height: calc(100vh - 11.5rem);
    // overflow-y: scroll;
}

.myBucket {
    ul {
        list-style: none;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
        gap: 1.5rem;

        li {
            background: var(--white);
            border: 1px solid var(--gray-100);
            padding: 1.25rem;
            border-radius: 1rem;
            position: relative;
            display: flex;
            align-items: center;
        }
    }
}